<form [formGroup]="formGroup" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customer update</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-md-4">Customer name</label>
      <input type="text" class="form-control" formControlName="item_name" #item_name />
    </div>
    <div *ngIf="getFormPropError('item_name')" class="alert alert-danger">
      <div *ngIf="getFormPropError('item_name').required">
        Customer Name is required.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-group">
      <button type="submit" [disabled]="formGroup.invalid"
        (click)="changeCustomer(item_name.value)" class="btn btn-primary">Update
        Customer</button>
    </div>
  </div>
</form>