<form [formGroup]="formGroup" novalidate>
  < <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order update</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="col-md-4">Item name</label>
        <input type="text" class="form-control"  formControlName="item_name" #item_name/>
      </div>
      <div *ngIf="getFormPropError('item_name')" class="alert alert-danger">
        <div *ngIf="getFormPropError('item_name').required">
          Item Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Amount</label>
        <input type="number" class="form-control" min="1"  formControlName="amount" min="1" #amount/>
      </div>
      <div *ngIf="getFormPropError('amount')" class="alert alert-danger">
        <div *ngIf="getFormPropError('amount').required">
          Please select how many items you like to order.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Additional information</label>
        <input type="text" class="form-control"  formControlName="description" #description/>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group">
        <button type="submit" 
          [disabled]="formGroup.invalid" 
          (click)="changeOrder(item_name.value, amount.value, description.value)" class="btn btn-primary">Update
          Order</button>
      </div>
    </div>
</form>