<div class="card mt-4">
    <div class="card-body">
      <form [formGroup]="formGroup" novalidate>
        <div class="form-group">
          <label class="col-md-4">Customer name</label>
          <input type="text" class="form-control" formControlName="item_name" #item_name/>
        </div>
        <div *ngIf="getFormPropError('item_name')" class="alert alert-danger">
          <div *ngIf="getFormPropError('item_name').required">
            Customer Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Type</label>
          <select class="form-control" #type>
              <option *ngFor="let type of types">
                  {{type}}
               </option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" 
          [disabled]="formGroup.pristine || formGroup.invalid" 
          (click)="addCustomer(item_name.value, type.value)"
          class="btn btn-primary">Add Customer</button>
        </div>
      </form>
    </div>
  </div>
  